.RegButton{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
  }
  
  /* Add your own styles or modify as needed */
  .ButtonContainer {
    text-align: center;
  }
  